/* load the default Redmine stylesheet */
@import url(../../../stylesheets/application.css);

body, button, input, select, textarea {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
div#header {
    color:#eee;
    background-color:#222;
    background-size:87px 87px;
    background-position: 25% 0;
}
div#header h1:after {
}
div#top-menu {
    background-color:#3f3f3f;
}
#main-menu li a.new-object {
    background-color:#222;
}
#main-menu li a:hover {
    background:#3f3f3f;
    color:#eee;
}
div.flyout-menu {
    color:#eee;
    background-color:#222;
}
div.flyout-menu h3 {
    color:#eee;
    background-color:#3f3f3f;
    border-top: 1px solid #3f3f3f;
    border-bottom: 1px solid #3f3f3f;
}
